.App {
  height: 135vh;
  text-align: center;
  background-color: #262a41;
}
.display-col {
  background-color: #F7F7FF 0% 0% no-repeat padding-box;
}
.search-container{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-top: 5rem;
  padding-bottom: 2rem;
  padding-right: 35%;
}

.intro-paragraph{
  color: #FFFFFF;
  opacity: 1;
text-align: center;
padding-top: 30%;
}

.result-col {
  height: 130vh;
  background-color:  #F7F7FF;
  border-radius: 10px;
  margin: 15px 15px;
}
.row {
  display: flex;
  height: -webkit-fill-available;
}

.column {
  flex: 50%;
}
.column {
  float: left;
  width: 50%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.input{
  background: #3C3F54 0% 0% no-repeat padding-box;
  background-image: url('searchicon.png');
  background-size: contain;
  border: 1px solid #3C3F54;
  border-radius: 28px;
  opacity: 1;
    height: 5%;
    width:10%;
    padding-left: 3%;
  padding-right: 400px;
}
.flex-container{
  padding-top: 3rem;
  display: flex;
  justify-content: center;
justify-content: space-evenly;
}
.btn.users{
  height: 100px;
  width: 100px;
  border-radius: 15%;
}
.btn.users {
  background: #f935a9 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 30px #00000029;
}
.btn.male{
  height: 95px;
  width: 100px;
  border-radius: 15%;
}
.btn.male {
  
  background: #30bbb5 0% 0% no-repeat padding-box;
}
.btn.female{
  height: 95px;
  width: 100px;
  border-radius: 15%;
}
.btn.female {
  background: #7946c1 0% 0% no-repeat padding-box;
}
h6{
color:#FFFFFF;
}
h5{
  color: #FFFFFF;
  text-align: center;
}
